<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.clinics">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/lab"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".Click" />
        <activity android:name=".Head" />
        <activity android:name=".Nose" />
        <activity android:name=".Beautycli" />
        <activity android:name=".Eat" />
        <activity android:name=".beauty.Beautywo" />
        <activity android:name=".Eyes" />
        <activity android:name=".Lezer" />
        <activity android:name=".dentes"></activity>
        <activity android:name=".c" />
        <activity android:name=".productsb" />
        <activity android:name=".x_rayb" >

        </activity>
        <activity android:name=".beauty.beautyb" />
        <activity android:name=".gym.gymb" />
        <activity android:name=".products" />
        <activity android:name=".x_ray" />
        <activity android:name=".clinics" />
        <activity android:name=".gym.gym" />
        <activity android:name=".beauty.beauty" />
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity android:name=".Home" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>